apiVersion: ${externalSecretsApiVersion}
kind: ${kind}
metadata:
  name: ${name}
  namespace: ${namespace}
spec:
  provider:
    aws:
      service: SecretsManager
      region: ${region}
      auth:
        secretRef:
          accessKeyIDSecretRef:
            name: ${name}-awssm-secret
            key: access-key
          secretAccessKeySecretRef:
            name: ${name}-awssm-secret
            key: secret-access-key
