apiVersion: external-secrets.io/v1alpha1
kind: SecretStore
metadata:
  name: ${name}
spec:
  controller: ${controller}
  provider:
    aws:
      service: SecretsManager
      role: external-secrets-access-policy-for-store-${name}
      region: ${region}
      auth:
        secretRef:
          accessKeyIDSecretRef:
            name: ${name}-awssm-secret
            key: access-key
          secretAccessKeySecretRef:
            name: ${name}-awssm-secret
            key: secret-access-key
